@model Havan.Models.Condutor

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Condutor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" onclick="Create(event)" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@Html.Hidden("url", @Url.Action("Create", "Condutor"))
@Html.Hidden("urlFinalizar", @Url.Action("Finalizar", "EntradaVeiculo"))

<script src="~/js/AddCondutor.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
